@font-face {
    font-family: 'iconfont';
    src: url('./asset/iconfont-2019-07-04.woff') format('woff');
}


.t-icon {
  display: inline-block;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
.t-icon:before {
  display: inline-block;
}
.t-icon-right-arrow:before {
  content: "\e643";
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
    height: 100%;
}
body {
    flex: 1;
}
.tree {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.tree-aside {
    flex: 0 0 300px;
    padding-bottom: 100px;
    background-color: #21252b;
    overflow-y: auto;
}
.tree-content {
    flex: 1 0 auto;
    padding: 0 24px;
    overflow-y: auto;
}
@keyframes round {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.t-logo {
  width: 100px;
  height: 100px;
}
.t-logo.loading {
  animation: 1.5s round linear infinite;
}
.t-line {
  display: flex;
}

/*树状节点*/
.t-node {
  display: flex;
  flex-direction: column;
}
.t-node > .t-node {
  padding-left: 16px;
}
.t-arrow {
  display: inline-block;
  padding: 4px 2px 4px;
  cursor: pointer;
  color: #9da5b4;
  font-size: 14px;
  transition: .15s ease transform;
  transform: rotate(0);
}
.t-arrow.rotate {
  transform: rotate(90deg);
}
.t-name {
  padding-left: 2px;
  flex: 1 0 auto;
  font-size: 14px;
  color: #9da5b4;
}
.t-name.file {
  padding-left: 22px;
}
.t-name.active {
  background-color: #464a50;
}
.t-name:hover {
  color: #fff;
  cursor: pointer;
}
.t-text {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  /*padding-left: 4px;*/
  line-height: 22px;
}
.t-children {
  padding-left: 16px;
}
/*代码行数的显示*/
.t-code-line {
  color: #606266;
}

/* 图表相关 */
.echarts-container {
  height: 400px;
  padding-bottom: 40px;
}

.vsz-code-summary {
  display: flex;
}
.vsz-code-summary__echart {
  flex: 1 0 50%;
}


/* 标题相关*/
.vsz-title {
  padding: 26px 0 20px;
  font-size: 15px;
  font-weight: 700;
  color: #5097e9;
  text-align: left;
}
.vsz-title span {
  display: inline-block;
  border-left: 4px solid #5097e9;
  padding-left: 4px;
  line-height: 1;
  vertical-align: middle;
}
